In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from rfgap import RFGAP

In [3]:
# def rfOverSample(x, y, numSamples=3, contains_categoricals=False):
#     X = None

#     #encode categorical variables if present
#     if contains_categoricals:
#         catcols = x.select_dtypes(include=['object']).columns
#         X = pd.get_dummies(x, columns=catcols, dtype=int)
#     else:
#         X = x
        
#     #Train RF:
#     rf = RFGAP(y = y, prediction_type = 'classification', matrix_type = 'dense')
#     rf.fit(X, y)
#     prox = rf.get_proximities()

#     #Get Majority Class, its's count, and store all classes and their counts in a dictionary
#     valueCounts = y.value_counts()
#     majLabel = valueCounts.index[0]
#     majCount = valueCounts.iloc[0]
#     classCounts = valueCounts.to_dict()

#     # Separate numerical and categorical data
#     x_numerical = x
#     x_categorical = None

#     #Get number of features in each type
#     numFeatures = x.shape[1]
#     catFeatures = None

#     if contains_categoricals:
#         # If categorical_columns is not provided, create it (assuming x has non-numerical columns)
#         if categorical_columns is None:
#             categorical_columns = x.select_dtypes(include=['object', 'category']).columns.tolist()
        
#         x_numerical = x.drop(columns=encoded_cols)
#         x_categorical = x[encoded_cols] 

#         numFeatures = x_numerical.shape[1]
#         catFeatures = x_categorical.shape[1] *****##the categories take up several more columns than there are actual categories. then leave it encoded, stop trying to take something that is encoded and returnin the original values

#     #Loop through all classes that aren't majority class and upsample
#     for label in classCounts:
#         if label != majLabel:

#             #Get number of samples to upsample
#             #initialize arrays to store new numerical and categorical features
#             upsampleSize = majCount - classCounts[label]
#             newPoints_num = np.zeros((upsampleSize, numFeatures))
#             newPoints_cat = None
#             if contains_categoricals:
#                 newPoints_cat = np.zeros((upsampleSize, catFeatures))


#             for i in range(upsampleSize):
#                 sampleIndices = np.where(y == label)[0]
#                 samples = np.random.choice(sampleIndices, numSamples, replace=True)

#                 #Get new numerical features and add to new points array
#                 newFeatures_num = np.sum((x_numerical.T.iloc[samples,:] @ prox[samples, :]), axis=1)/numSamples
#                 newPoints_num[i, : ] = newFeatures_num

#                 if contains_categoricals:
#                     #Get new categorical features and add to new points array
#                     for j in range(catFeatures):
#                         newFeature_cat_ind = np.sum((x_categorical.T.iloc[:, samples] @ prox[samples, :]), axis=0).argmax(axis=0)
#                         newPoints_cat[i, j] = cat
                

#             x = pd.concat((x, pd.DataFrame(newPoints, columns = x.columns))).reset_index(drop = True)
#             y = pd.concat((y, pd.Series(np.ones_like(newPoints[ : , 0]) * label))).reset_index(drop = True)
    
#     return x, y

In [45]:
titanic = pd.read_csv('./datasets/titanic.csv')
# titanic_encoded = pd.get_dummies(titanic, columns=['Pclass', 'Sex', 'Embarked'], dtype=int)
# Pclass_encoded = titanic_encoded.iloc[:, 5:8]
# Pclass_encoded

     Pclass_1  Pclass_2  Pclass_3
0           0         0         1
1           1         0         0
2           0         0         1
3           1         0         0
4           0         0         1
..        ...       ...       ...
707         0         0         1
708         0         1         0
709         1         0         0
710         1         0         0
711         0         0         1

[712 rows x 3 columns]

In [8]:
# titanic.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [49]:
# titanic.select_dtypes(include=['object']).columns

Index(['Sex', 'Embarked'], dtype='object')

In [9]:
# y = titanic_encoded['Survived']
# x = titanic_encoded.drop(columns = ['Survived'])

In [10]:
# rf = RFGAP(y = y, prediction_type = 'classification', matrix_type = 'dense')
# rf.fit(x, y)
# prox = rf.get_proximities()

In [17]:
# prox.shape

(712, 712)

In [18]:
# Pclass_encoded.shape

(712, 3)

In [30]:
# samples = np.random.choice(range(712), 10, replace=True)

In [31]:
# Pclass_values = Pclass_encoded.T.iloc[:, samples] @ prox[samples, :]

In [42]:
# ind = np.sum(Pclass_values.T, axis=0).argmax(axis=0)

np.int64(2)

In [169]:
#attempt number 2:
numSamples = 3
titanic_cat_cols = ['Pclass', 'Sex', 'Embarked', 'SibSp', 'Parch']
numof_titanic_num_cols = len(titanic.columns) - len(titanic_cat_cols) - 1 #minus one for the target variable. MAKE SURE TO HANDLE TARGET VARIABLE NOT IN INDEX 0
titanic_cat_dict = {}
for col in titanic_cat_cols:
    titanic_cat_dict[col] = titanic[col].unique().tolist()

In [72]:
titanic_encoded = pd.get_dummies(titanic, columns=titanic_cat_cols, dtype=int)

,Survived,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,1,0,7.2500,0,0,1,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,0,1,0,1,0,0
2,1,26.0,0,0,7.9250,0,0,1,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,1,0,0,0,1
4,0,35.0,0,0,8.0500,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,0,39.0,0,5,29.1250,0,0,1,1,0,0,1,0
708,0,27.0,0,0,13.0000,0,1,0,0,1,0,0,1
709,1,19.0,0,0,30.0000,1,0,0,1,0,0,0,1
710,1,26.0,0,0,30.0000,1,0,0,0,1,1,0,0
711,0,32.0,0,0,7.7500,0,0,1,0,1,0,1,0

In [73]:
y = titanic_encoded['Survived']
x = titanic_encoded.drop(columns = ['Survived'])

In [74]:
rf = RFGAP(y = y, prediction_type = 'classification', matrix_type = 'dense')
rf.fit(x, y)
prox = rf.get_proximities()

#Get Majority Class, its's count, and store all classes and their counts in a dictionary
valueCounts = y.value_counts()
majLabel = valueCounts.index[0]
majCount = valueCounts.iloc[0]
classCounts = valueCounts.to_dict()

In [82]:
encoded_cat_cols = x.columns[numof_titanic_num_cols:]

x_numerical = x.drop(columns=encoded_cat_cols)
x_categorical = x[encoded_cat_cols] 

numFeatures = x_numerical.shape[1]
catFeatures = x_categorical.shape[1]

In [154]:
for label in classCounts:
    if label != majLabel:

        #Get number of samples to upsample
        #initialize arrays to store new numerical and categorical features
        upsampleSize = majCount - classCounts[label]
        newPoints_num = np.zeros((upsampleSize, numFeatures))
        newPoints_cat = np.zeros((upsampleSize, catFeatures), dtype=int)

        for i in range(upsampleSize):
            sampleIndices = np.where(y == label)[0]
            samples = np.random.choice(sampleIndices, numSamples, replace=True)

            #Get new numerical features and add to new points array
            newFeatures_num = np.sum((x_numerical.T.iloc[:, samples] @ prox[samples, :]), axis=1)/numSamples
            newPoints_num[i, : ] = newFeatures_num

            start_x_slice_ind = 0
            #Get new categorical features and add to new points array
            for category in titanic_cat_dict:

                numof_values_in_category = len(titanic_cat_dict[category])
                this_encoded_category = x_categorical.iloc[:, start_x_slice_ind:numof_values_in_category + start_x_slice_ind]
                newFeature_cat_ind = np.sum((this_encoded_category.T.iloc[:, samples] @ prox[samples, :]).T, axis=0).argmax(axis=0)
                for j in range(numof_values_in_category):
                    if j == newFeature_cat_ind:
                            newPoints_cat[i, j] = 1
                    else:
                            newPoints_cat[i, j] = 0
                start_x_slice_ind += numof_values_in_category
        new_x_cat = pd.concat((x_categorical, pd.DataFrame(newPoints_cat, columns=x_categorical.columns))).reset_index(drop=True)
        new_x_num = pd.concat((x_numerical, pd.DataFrame(newPoints_num, columns=x_numerical.columns))).reset_index(drop=True)
        new_x = pd.concat((new_x_num, new_x_cat), axis=1)
        new_y = pd.concat((y, pd.Series(np.ones_like(newPoints_num[:, 0]) * label, dtype=int))).reset_index(drop=True)

(136, 8)

In [130]:
x

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,22.0,1,0,7.2500,0,0,1,0,1,0,0,1
1,38.0,1,0,71.2833,1,0,0,1,0,1,0,0
2,26.0,0,0,7.9250,0,0,1,1,0,0,0,1
3,35.0,1,0,53.1000,1,0,0,1,0,0,0,1
4,35.0,0,0,8.0500,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
707,39.0,0,5,29.1250,0,0,1,1,0,0,1,0
708,27.0,0,0,13.0000,0,1,0,0,1,0,0,1
709,19.0,0,0,30.0000,1,0,0,1,0,0,0,1
710,26.0,0,0,30.0000,1,0,0,0,1,1,0,0
711,32.0,0,0,7.7500,0,0,1,0,1,0,1,0

In [131]:
new_x

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,22.000000,1.000000,0.000000,7.250000,0,0,1,0,1,0,0,1
1,38.000000,1.000000,0.000000,71.283300,1,0,0,1,0,1,0,0
2,26.000000,0.000000,0.000000,7.925000,0,0,1,1,0,0,0,1
3,35.000000,1.000000,0.000000,53.100000,1,0,0,1,0,0,0,1
4,35.000000,0.000000,0.000000,8.050000,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
843,35.666667,0.333333,0.333333,57.676400,1,0,0,0,0,0,0,0
844,33.666667,0.333333,0.000000,37.833333,0,1,0,0,0,0,0,0
845,32.000000,1.333333,0.333333,57.234733,1,0,0,0,0,0,0,0
846,29.333333,0.333333,0.666667,38.350000,1,0,0,0,0,0,0,0
847,22.000000,0.666667,0.333333,74.141667,1,0,0,0,0,0,0,0

In [135]:
y

0      0
1      1
2      1
3      1
4      0
      ..
707    0
708    0
709    1
710    1
711    0
Name: Survived, Length: 712, dtype: int64

In [136]:
new_y

0      0
1      1
2      1
3      1
4      0
      ..
843    1
844    1
845    1
846    1
847    1
Length: 848, dtype: int64

In [174]:
##attempt number 3
def RFoversample(Data, target_ind=0, num_samples=3, contains_categoricals=False, cat_cols=None):

    numof_num_cols = len(Data.columns) - len(cat_cols) - 1 #calculate number of numerical columns (-1 for target variable)

    #make a dictionary with each categorical column and its unique values. This will be useful further down the line
    cat_dict = {}
    for col in cat_cols:
        cat_dict[col] = Data[col].unique().tolist()
        
    data_encoded = pd.get_dummies(Data, columns=cat_cols, dtype=int) #encode the categorical columns
    y = data_encoded.iloc[:, target_ind]
    x = data_encoded.drop(Data.columns[target_ind], axis=1)

    #Train RF, get proximities
    rf = RFGAP(y = y, prediction_type = 'classification', matrix_type = 'dense')
    rf.fit(x, y)
    prox = rf.get_proximities()

    #Get the Majority Class, its count, and store all classes and their counts in a dictionary. This will be useful further down the line
    value_counts = y.value_counts()
    maj_label = value_counts.index[0]
    maj_count = value_counts.iloc[0]
    class_counts = value_counts.to_dict()

    # Separate numerical and categorical data
    encoded_cat_cols = x.columns[numof_num_cols:]
    x_numerical = x.drop(columns=encoded_cat_cols)
    x_categorical = x[encoded_cat_cols] 

    #store number of features in each type
    num_features = x_numerical.shape[1]
    cat_features = x_categorical.shape[1]

    #Loop through all classes that aren't majority class and upsample
    for label in class_counts:
        if label != maj_label:

            #Get number of samples to upsample
            #initialize arrays to store new numerical and categorical features
            upsample_size = maj_count - class_counts[label]
            new_points_num = np.zeros((upsample_size, num_features))
            new_points_cat = np.zeros((upsample_size, cat_features), dtype=int)

            #generate new samples until the number of samples is equal to the majority class
            for i in range(upsample_size):

                #sample random points from the class that needs to be upsampled
                sample_indices = np.where(y == label)[0]
                samples = np.random.choice(sample_indices, num_samples, replace=True)

                #Get new numerical features and add to new points array
                new_features_num = np.sum((x_numerical.T.iloc[:, samples] @ prox[samples, :]), axis=1)/num_samples #proximity weighted average of the samples
                new_points_num[i, : ] = new_features_num

                start_x_slice_ind = 0 #variable to help in slicing categorical columns to focus on one encoded category at a time
                #Get new categorical features and add to new points array
                for category in cat_dict:

                    numof_values_in_category = len(cat_dict[category]) #number of columns in the encoded category - used in slicing
                    end_x_slice_ind = numof_values_in_category + start_x_slice_ind
                    this_encoded_category = x_categorical.iloc[:, start_x_slice_ind:end_x_slice_ind] #slice to focus on the encoded columns of a category, one category at a time

                    new_feature_cat_ind = np.sum((this_encoded_category.T.iloc[:, samples] @ prox[samples, :]).T, axis=0).argmax(axis=0) #proximity weighted 'best guess' of the samples

                    #loop through the columns of the encoded category and set the column with the highest proximity to 1 and the rest to 0
                    for j in range(numof_values_in_category):
                        if j == new_feature_cat_ind:
                                new_points_cat[i, j] = 1
                        else:
                                new_points_cat[i, j] = 0
                    start_x_slice_ind = end_x_slice_ind #update starting index for slicing

            #concatenate the new numerical and categorical features to the original data
            combined_x = pd.concat((pd.DataFrame(new_points_num, columns=x_numerical.columns), pd.DataFrame(new_points_cat, columns=x_categorical.columns)), axis=1)
            x = pd.concat((x, combined_x), axis=0).reset_index(drop=True)
            y = pd.concat((y, pd.Series(np.ones_like(newPoints_num[:, 0]) * label, dtype=int))).reset_index(drop=True)
    return x, y

In [156]:
titanic['Survived'].value_counts()

Survived
0    424
1    288
Name: count, dtype: int64

In [176]:
new_x, new_y = RFoversample(titanic, contains_categoricals=True, cat_cols=titanic_cat_cols)

In [177]:
new_x.iloc[713:730, :]

,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,...,SibSp_3,SibSp_4,SibSp_5,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6
713,33.333333,46.484733,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
714,22.000000,80.195833,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
715,27.000000,58.994433,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
716,37.333333,194.108333,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
717,25.610000,59.845833,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
718,29.333333,62.216667,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
719,23.333333,38.193067,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
720,42.000000,69.797233,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
721,27.333333,73.700000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
722,37.000000,132.731933,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
723,17.333333,11.075000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
724,24.666667,27.191667,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
725,35.666667,31.008333,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
726,42.000000,96.386100,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
727,16.666667,41.151400,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
728,14.333333,40.051400,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
729,25.333333,23.613900,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0